<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='人工制费维护'">
<meta charset="UTF-8">
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div style="margin: 10px">
			<form id="dataSearch" class="layui-form layui-form-pane"
				method="post" action="" style="margin-top: 5px;">
				<div class="layui-form-item" style="margin-bottom: 0px">
					<div class="layui-inline">
						<label class="layui-form-label" style="width: 150px;">关键字查询:</label>
						<div class="layui-input-inline">
							<input id="keywordSearch" name="keywordSearch" autocomplete="off"
								class="layui-input" type="text" />
						</div>
						<button type="reset"
							class="layui-btn layui-btn-primary layui-btn-sm" title="重置">
							<i class="layui-icon">&#xe669;</i>重置
						</button>
						<button class="layui-btn layui-btn-sm" lay-submit=""
							lay-filter="searchSubmit">查询</button>
						<button class="layui-btn layui-btn-sm layui-btn-normal" type="button"
				        onclick="add()">添加机台类型信息</button>
					</div>
				</div>
			</form>
			
			<table id="colsList" lay-filter="colsTable"></table>

			<script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
		</div>
		<!--添加或编辑人工制费维护-->
		<div id="setForm" class="layer_self_wrap"
			style="width: 500px; display: none; margin-left: 10px;">
			<form id="itemForm" class="layui-form layui-form-pane"
				lay-filter="itemForm" method="post" action=""
				style="margin-top: 20px;">
				<input id="pageNum" type="hidden" name="pageNum" />
				<input id="id" type="hidden" name="id" />
				<!--<div class="layui-form-item">-->
					<!--<label class="layui-form-label">工序</label>-->
					<!--<div class="layui-input-inline">-->
						<!--<input id="procName" name="procName" autocomplete="off" readonly="readonly"-->
							<!--class="layui-input" type="text" />-->
					<!--</div>-->
				<!--</div>-->
				<!--<input id="procId" type="hidden" name="procId" />-->
				<div class="layui-form-item">
					<label class="layui-form-label layui-required">工作中心</label>
					<div class="layui-input-inline">
						<input id="workcenterName" name="workcenterName" readonly="readonly"
							lay-verify="required" autocomplete="off" class="layui-input"
							type="text" />
					</div>
				</div>
				<input id="workcenterId" type="hidden" name="workcenterId" />
				<div class="layui-form-item">
					<label class="layui-form-label">机台类型</label>
					<div class="layui-input-inline">
						<input id="mhType" name="mhType" autocomplete="off"
							class="layui-input" type="text" />
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label layui-required">人工费率</label>
					<div class="layui-input-inline">
						<input id="feeLh" name="feeLh" lay-verify="required"
							autocomplete="off" class="layui-input" type="text" />
					</div>
					<div class="layui-word-aux" style="line-height: 20px;">（元/小时）</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label layui-required">制费费率</label>
					<div class="layui-input-inline">
						<input id="feeMh" name="feeMh" lay-verify="required"
							autocomplete="off" class="layui-input" type="text" />
					</div>
					<div class="layui-word-aux" style="line-height: 20px;">（元/小时）</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block" style="margin-left: 10px;">
						<button class="layui-btn layui-btn-sm" lay-submit=""
							lay-filter="addSubmit">提交</button>
						<button type="reset"
							class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
					</div>
				</div>
			</form>
		</div>
		<script th:src="@{/js/web/basePrice/model_type.js}"
			src="/js/web/basePrice/model_type.js"></script>
	</div>
</body>
</html>