<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='模具成本信息'">
<meta charset="UTF-8">
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div style="margin: 10px">
			<form id="keySearch" class="layui-form layui-form-pane" method="post"
				action="" style="margin-top: 5px;">
				<div class="layui-form-item" style="margin-bottom: 0px">
					<div class="layui-inline">
						<label class="layui-form-label" style="width: 150px;">关键字查询:</label>
						<div class="layui-input-inline">
							<input id="keywordSearch" name="keywordSearch" autocomplete="off"
								placeholder="请输入关键字" class="layui-input" type="text" />
						</div>

						<button class="layui-btn layui-btn-sm" lay-submit=""
							lay-filter="searchSubmit">查询</button>
						<button type="reset"
							class="layui-btn layui-btn-primary layui-btn-sm" title="重置">
							<i class="layui-icon">&#xe669;</i>重置
						</button>
						<button class="layui-btn layui-btn-sm layui-btn-normal" type="button" onclick="add()">添加模具成本信息</button>
					</div>
				</div>
			</form>
			<table id="iList" lay-filter="iTable"></table>

			<script type="text/html" id="optBar">
                 <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                 <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
         </script>
		</div>
		<!--添加或编辑外购件清单信息-->
		<div id="setItem" class="layer_self_wrap"
			style="width: 1000px; display: none; margin-left: 10px;">
			<form id="itemForm" class="layui-form layui-form-pane"
				lay-filter="itemForm" method="post" action=""
				style="margin-top: 20px;">
				<input id="pageNum" type="hidden" name="pageNum" /> <input id="id"
					type="hidden" name="id" /><input id="fileId" type="hidden" name="fileId" />
					<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label layui-required" style="width: 150px;">产品名称</label>
						<div class="layui-input-inline">
							<input id="productName" name="productName" placeholder="请输入产品名称"
								autocomplete="off" class="layui-input" type="text" lay-verify="required" />
						</div>
						<label class="layui-form-label layui-required" style="width: 150px;">模具报价价格(未税)</label>
						<div class="layui-input-inline">
							<input id="mjPrice" name="mjPrice" placeholder="请输入模具报价价格"
								autocomplete="off" class="layui-input" type="text" lay-verify="required|double" />
						</div>
					</div>
				</div>
				<!-- <div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label" style="width: 150px;">图示id</label>
						<div class="layui-input-inline">
							<input id="fimg" name="fimg" placeholder="请输入图示id"
								autocomplete="off" class="layui-input" type="text" />
						</div>
					</div>
				</div>-->
				<input id="fimg" name="fimg" placeholder="请输入图示id"
					   autocomplete="off" class="layui-input" type="hidden" />
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label layui-required" style="width: 150px;">穴数</label>
						<div class="layui-input-inline">
							<input id="numHole" name="numHole"  lay-verify="required|num"
								placeholder="请输入穴数" class="layui-input" type="text"
								autocomplete="off" />
						</div>
						<label class="layui-form-label" style="width: 150px;">模具结构</label>
						<div class="layui-input-inline">
							<input id="structureMj" name="structureMj"
								lay-filter="structureMj" placeholder="请输入模具结构"
								class="layui-input" type="text" autocomplete="off" />
						</div>
					</div>
				</div>
				<!--  钢料+配件+热处理费用  铜公材料费用  -->
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label layui-required" style="width: 150px;">材料成本(未税)</label>
						<div class="layui-input-inline">
							<input id="feeType1" name="feeType1" lay-filter="feeType1" placeholder="请输入费用" 
								lay-verify="required|num" autocomplete="off" class="layui-input"
								type="text" />
						</div>
						<label class="layui-form-label layui-required" style="width: 150px;">制造成本(未税)</label>
						<div class="layui-input-inline">
							<input id="feeType2" name="feeType2"  lay-filter="feeType2" placeholder="请输入费用"
								lay-verify="required|num" autocomplete="off" class="layui-input"
								type="text" />
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label layui-required" style="width: 150px;">外发纹理费用(未税)</label>
						<div class="layui-input-inline">
							<input id="feeType3" name="feeType3"  lay-filter="feeType3" placeholder="请输入费用" 
								lay-verify="required|num" autocomplete="off" class="layui-input"
								type="text" />
						</div>
<!--					<label class="layui-form-label layui-required" style="width: 150px;">热流道费用</label>-->
<!--					<div class="layui-input-inline">-->
<!--						<input id="feeType4" name="feeType4" th:value=0  placeholder="请输入费用"-->
<!--							lay-verify="required|num" autocomplete="off" class="layui-input"-->
<!--							type="text" />-->
<!--					</div>-->
						<label class="layui-form-label layui-required" style="width: 150px;">参考报价</label>
						<div class="layui-input-inline">
							<input id="stQuote" name="stQuote" placeholder="请输入参考报价"
								   lay-verify="required|num" autocomplete="off" class="layui-input"
								   type="text" value="0" />
						</div>
					</div>
				</div>
<!--				<div class="layui-form-item">-->
<!--					<div class="layui-inline">-->
<!--&lt;!&ndash;						<label class="layui-form-label layui-required" style="width: 150px;">评估总费用(未税)</label>&ndash;&gt;-->
<!--&lt;!&ndash;						<div class="layui-input-inline">&ndash;&gt;-->
<!--&lt;!&ndash;							<input id="feeProc" name="feeProc" placeholder="请输入工序成本"&ndash;&gt;-->
<!--&lt;!&ndash;								lay-verify="required|num" autocomplete="off" class="layui-input"&ndash;&gt;-->
<!--&lt;!&ndash;								type="text" />&ndash;&gt;-->
<!--&lt;!&ndash;						</div>&ndash;&gt;-->
<!--						<label class="layui-form-label" style="width: 150px;">参考报价</label>-->
<!--						<div class="layui-input-inline">-->
<!--							<input id="stQuote" name="stQuote" placeholder="请输入参考报价"-->
<!--								lay-verify="num" autocomplete="off" class="layui-input"-->
<!--								type="text" value="0" />-->
<!--						</div>-->
<!--						-->
<!--					</div>-->
<!--				</div>-->
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label" style="width: 150px;">评估总费用(含税)</label>
						<div class="layui-input-inline">
							<input id="feeAll" name="feeAll" style="background:#d7d7d7;"
							disabled autocomplete="off" class="layui-input"type="text" />
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 150px;">备注</label>
					<div class="layui-input-inline" style="width: 540px;">
						<textarea id="fmemo" name="fmemo" placeholder="请输入备注"
							class="layui-textarea"></textarea>
					</div>
				</div>

				<div class="layui-form-item">
					<div id="itemDiv1" class="layui-form-item" >
						<label class="layui-form-label">附件上传</label>
						<div class="layui-input-inline" style="width:70%;">
							<button type="button" class="layui-btn layui-btn-normal layui-btn-sm" id="upload">
								<i class="layui-icon layui-icon-upload-circle"></i>上传
							</button>
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div id="itemDiv2" class="layui-form-item">
						<label class="layui-form-label">附件列表</label>
						<div class="layui-input-inline" style="width:70%;">
							<!--<div style="position:relative;padding:10px 30px;width:90%">-->
							<div  id="filelist" name="fftp">
							</div>
							<!--</div>-->
						</div>
					</div>
				</div>

				<div class="layui-upload">
					<button type="button" class="layui-btn layui-btn-sm" id="upload2">上传图片</button>
					<div class="layui-upload-list">
						<img class="layui-upload-img" id="demo1">
						<p id="demoText"></p>
					</div>
				</div>

				<div class="layui-form-item">
					<div class="layui-input-block" style="margin-left: 10px;">
						<button class="layui-btn layui-btn-sm" lay-submit=""
							lay-filter="addSubmit">提交</button>
						<button type="reset"
							class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
					</div>
				</div>
			</form>
		</div>

		<script>
			document.write("<script type='text/javascript' " +
					"src='/js/web/basePrice/proc_fee.js?ver="+Math.random()+"'><\/script>");
		</script>
	</div>
</body>
</html>
