<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='工作中心维护'">
<meta charset="UTF-8">
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
	 <div style="margin: 10px">
	 <form id="WorkCenterSearch" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 5px;">
           <div class="layui-form-item" style="margin-bottom: 0px">
					<div class="layui-inline">
						<label class="layui-form-label" style="width: 150px;">关键字查询:</label>
						<div class="layui-input-inline">
							<input id="keywordSearch" name="keywordSearch" autocomplete="off"
								class="layui-input" type="text" />
						</div>
						<button type="reset" class="layui-btn layui-btn-primary layui-btn-sm"
							title="重置">
							<i class="layui-icon">&#xe669;</i>重置
						</button>
						 <button class="layui-btn layui-btn-sm"  lay-submit="" lay-filter="searchSubmit">查询</button>
					</div>
				</div>
        </form>
         <hr class="layui-bg-black"/>

        <button class="layui-btn layui-btn-sm layui-btn-normal" onclick="addWorkCenter()">添加工作中心信息</button>
        <table id="workCenterList" lay-filter="workCenterTable"></table>
        <script type="text/html" id="statusTpl">
            {{#  if(d.checkStatus){ }}
            <input type="checkbox" name="{{d.workcenterName}}" value="{{d.id}}" lay-skin="switch" lay-text="正常|禁用" lay-filter="isStatusTpl" checked="checked" />
            {{#  } else { }}
            <input type="checkbox" name="{{d.workcenterName}}" value="{{d.id}}" lay-skin="switch" lay-text="正常|禁用" lay-filter="isStatusTpl"/>
            {{#  } }}
        </script>
        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
	 </div>
	 <!--添加或编辑工作中心维护-->
    <div id="setWorkCenter" class="layer_self_wrap" style="width:500px;display:none;margin-left: 10px;">
        <form id="workCenterForm" class="layui-form layui-form-pane" lay-filter="workCenterForm" method="post" action="" style="margin-top: 20px;">
            <input id="pageNum" type="hidden" name="pageNum"/>
            <input id="id" type="hidden" name="id"/>
            <div class="layui-form-item">
                <label class="layui-form-label">工作中心编号</label>
                <div class="layui-input-inline">
                    <input id="workcenterCode" name="workcenterCode" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">工作中心名称</label>
                <div class="layui-input-inline">
                    <input id="workcenterName" name="workcenterName" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 10px;">
                    <button class="layui-btn layui-btn-sm"  lay-submit="" lay-filter="addSubmit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
    <script th:src="@{/js/web/basePrice/workCenter.js}" src="/js/web/basePrice/workCenter.js"></script>
	</div>
</body>
</html>