<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='不良录入'"></head>
<style th:inline="text">
.layui-form-label {
	text-align: right;
}

.layui-form-switch {
	margin-top: 0px;
}

.layui-form-radio {
	margin: 0px 10px 0 0;
}

.long-item .layui-form-label {
	width: 160px;
}

.long-item .layui-input-block {
	margin-left: 160px;
}
</style>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<!--头-->
		<!--<div th:replace="fragments/head :: header"></div>-->

<div class="layui-tab layui-tab-card">
			<ul class="layui-tab-title">
				<li class="layui-this">在线不良录入</li>
				<li>历史查询</li>
			</ul>
			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show">
				
		<div style="margin: 5px">
			<div class="layui-collapse" lay-accordion="">
				<div class="layui-colla-item">
					<h2 class="layui-colla-title">填写信息</h2>
					<div class="layui-colla-content layui-show">
						<form id="itemFrom" class="layui-form layui-form-pane"
							lay-filter="itemFrom" method="post" action="">
							<div class="layui-form-item">
							<div class="layui-inline">
								<label class="layui-form-label layui-required">制令单号</label>
								<div class="layui-input-inline" style="width: 200px;">
									<input type="text" name="taskno" placeholder="请选择"
										autocomplete="off" class="layui-input" readonly="readonly"
										lay-verify="required" id="taskno">
								</div>
								<label class="layui-form-label">产品编码</label>
								<div class="layui-input-inline" style="width: 140px;">
									<input id="itemcode" name="itemcode" autocomplete="off"
										style="background: #efefef;" class="layui-input" disabled
										type="text" />
								</div>
								<label class="layui-form-label">组长</label>
								<div class="layui-input-inline" style="width: 70px;">
									<input id=liner name="liner" autocomplete="off"
										style="background: #efefef;" class="layui-input" disabled
										type="text" />
								</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">产品描述</label>
								<div class="layui-input-inline" style="width: 650px;">
									<input id="itemName" name="itemName" autocomplete="off"
										style="background: #efefef;" class="layui-input" disabled
										type="text" />
								</div>
							</div>
							<div class="layui-form-item">	
							<div class="layui-inline">		
							<label class="layui-form-label layui-required">不良代码</label>
							<div class="layui-input-inline" style="width: 190px;">
									<input type="text" placeholder="请输入或选择不良代码" name="inputCode" id="inputCode" class="layui-input" style="position:absolute;z-index:2;width:80%;" lay-verify="required"  autocomplete="off">
				                    <select  id="selectCode" lay-filter="selectCode" autocomplete="off" placeholder="选择或扫描输入不良代码" lay-verify="required" class="layui-select" lay-search>
				                       
				                    </select>
							</div>	
							<label class="layui-form-label">不良现象</label>
								<div class="layui-input-inline">
									<input id="defName" name="defName" autocomplete="off"
											style="background: #efefef;" class="layui-input"  disabled type="text" />
								</div> 	
								</div>					
							</div>
							<div class="layui-form-item">
								<div class="layui-word-aux" style="margin: 5px;">请输入或者扫描条码后回车</div>
								<div class="layui-inline">
									<label class="layui-form-label layui-required">条码</label>
									<div class="layui-input-inline">
										<input id="barcode" name="barcode" autocomplete="off"
											placeholder="请输入或扫描条码" class="layui-input" type="text" />
									</div>
									<label class="layui-form-label layui-required">数量</label>
									<div class="layui-input-inline" >
										<input id="qty" name="qty" autocomplete="off" style="background: #efefef;"
											disabled placeholder="扫入条码获取数量" class="layui-input"  type="text" />
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<div class="layui-inline">
									<label class="layui-form-label">备注</label>
									<div class="layui-input-inline" style="width: 500px;">
										<input id="memo" name="memo" autocomplete="off"
											placeholder="请输入内容" class="layui-input" type="text" />
									</div>
									<shiro:hasPermission name="bad_entry:save">
									<button type="button" class="layui-btn layui-btn-sm" lay-submit=""
										lay-filter="saveDef">保存不良</button>
									</shiro:hasPermission>
									
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<fieldset class="layui-elem-field layui-field-title">
				<legend style="font-size: 14px;">历史列表</legend>
			</fieldset>
			<table id="colTable" lay-filter="colTable" style="margin-top: -20px;"></table>
			<script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
		</div>
		
		</div>
				<div class="layui-tab-item">
					<div style="margin: 5px">
					<!--查询面板-->
        <div th:replace="web/fragment/search_history :: searcher"></div> 
						<fieldset class="layui-elem-field layui-field-title">
							<legend style="font-size: 14px;">条码列表</legend>
						</fieldset>
						<table id="hcolTable" lay-filter="hcolTable"
							style="margin-top: -20px;"></table>
					</div>
				</div>
			</div>
		</div>
		<script th:src="@{/js/web/produce/bad_entry/bad_entry.js}"
			src="/js/web/produce/bad_entry/bad_entry.js"></script>
	</div>
</body>
</html>