<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='报价汇总列表'"></head>
<style th:inline="text">
.steps {
  list-style: none;
  display: flex;
  width:300px;
}
.steps li {
  flex: 1;
  position: relative;
  min-width: 30px;
}
.sub_title{
font-size:12px;
}
.step-num {
  display: inline-block;
  height: 26px;
  width: 26px;
  color: #fff;
  background-color: #b9b9b9;
  line-height: 26px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid rgba(224, 224, 224, 1);
  font-size:12px;
}
.step_active .step-num {
  background-color: #f3862d;
}
.step_pass .step-num  {
  background-color: #1dce05;
}
.step_pass_end .step-num{
background-color: #1dce05;
}
.step-num:after {
  content: "";
   width: 90%;
 /*  width:162px; */
  height: 5px;
  background-color: #e0e0e0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 15px;
  margin-left: 4%;
}
.step_pass_end .step-num:after{
display: none;
}
.step_edd .step-num:after {
  display: none;
}
.step_pass .step-num:after {
  background-color: #2ad613;
}
.step-sub {
  width: 90%;
  position: absolute;
  left: 50%;
}
/*   .layui-table-cell {
            height: auto;
            line-height: 128px;
        } */
	</style>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
		<div>
			<div class="retrieval">
				<div class="title">
					<h3>状态</h3>
					<div class="filter">
						<ul id="ul-list">
							<li class="current"><a><span id="all-num"  data-status="">全部</span></a></li>
							<li class=""><a><span id="in-num" data-status="0">进行中</span></a></li>
							<li class=""><a><span id="over-num" data-status="2">已完成</span></a></li>
						</ul>
					</div>
					<span class="more" id="_search_btn"></span>
				</div>
				<div class="searchDiv">
					<form id="searchFrom" class="layui-form layui-form-pane"
						lay-filter="searchFrom" method="post" action=""
						style="margin-top: 5px; margin-left: 10px;">
						<div class="layui-form-item" style="margin-bottom: 0px">
							<div class="layui-inline">
                                <label class="layui-form-label">关键字查询</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" name="keywordSearch"
                                           placeholder="请选择查询关键字" id="keywordSearch">
                                </div>
								<button class="layui-btn layui-btn-sm" lay-submit
									lay-filter="searchSubmit">查询</button>
								<button type="reset"
									class="layui-btn layui-btn-primary layui-btn-sm" title="重置">
									<i class="layui-icon">&#xe669;</i>重置
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<table id="listTable" lay-filter="listTable" style="margin:0px;"></table>
			<script type="text/html" id="optBar">
            {{# if(d.bsStatus3 >= 1){ }}
           <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="view">查看汇总</a>
       {{# } else { }}
           <a class="layui-btn layui-btn-xs layui-btn-disabled" >查看汇总</a>
       {{# } }}
            </script>
            <script type="text/html" id="statusTpl">
<ul class="steps">
        <li  class="step_pass">
          <div class="step-line"></div>
          <div class="step-content">
            <div class="step-num">开始</div>
          </div>
        </li>
      {{# if(d.bsStatus == 0){ }}
           <li  class="step_active">
       {{# } else if(d.bsStatus == 1) { }}
           <li  class="step_pass">
       {{# } else { }}
           <li  class="step_pass">
       {{# } }}
          <div class="step-line"></div>
          <div class="step-content">
            <div class="step-num">1</i></div>
            <div class="sub_title">业务部</div>
          </div>
        </li>
       {{# if(d.bsStatus2hardware == 0){ }}
           <li  class="">
       {{# } else if(d.bsStatus2hardware == 1) { }}
           <li  class="step_active">
       {{# } else { }}
           <li  class="step_pass">
       {{# } }}
          <div class="step-line"></div>
          <div class="step-content">
            <div class="step-num">2</div>
            <div class="sub_title">制造部-五金</div>
            <div class="step-sub">
            </div>
          </div>
        </li>
        {{# if(d.bsStatus2molding == 0){ }}
           <li  class="">
       {{# } else if(d.bsStatus2molding == 1) { }}
           <li  class="step_active">
       {{# } else { }}
           <li  class="step_pass">
       {{# } }}
          <div class="step-line"></div>
          <div class="step-content">
            <div class="step-num">2</div>
            <div class="sub_title">制造部-注塑</div>
          </div>
        </li>
        {{# if(d.bsStatus2surface == 0){ }}
           <li  class="">
       {{# } else if(d.bsStatus2surface == 1) { }}
           <li  class="step_active">
       {{# } else { }}
           <li  class="step_pass">
       {{# } }}
          <div class="step-line"></div>
          <div class="step-content">
            <div class="step-num">2</div>
            <div class="sub_title">制造部-表面</div>
          </div>
        </li>
        {{# if(d.bsStatus2packag == 0){ }}
           <li  class="">
       {{# } else if(d.bsStatus2packag == 1) { }}
           <li  class="step_active">
       {{# } else { }}
           <li  class="step_pass">
       {{# } }}
          <div class="step-line"></div>
          <div class="step-content">
            <div class="step-num">2</div>
            <div class="sub_title">制造部-组装</div>
          </div>
        </li>
        {{# if(d.bsStatus2purchase == 0){ }}
           <li  class="">
       {{# } else if(d.bsStatus2purchase == 2) { }}
           <li  class="step_pass">
       {{# } else { }}
           <li  class="step_active">
       {{# } }}
          <div class="step-line"></div>
          <div class="step-content">
            <div class="step-num">2</div>
            <div class="sub_title">采购部</div>
          </div>
        </li>
        {{# if(d.bsStatus2out == 0){ }}
           <li  class="">
       {{# } else if(d.bsStatus2out == 2) { }}
             <li  class="step_pass">
       {{# } else { }}
    <li  class="step_active">
       {{# } }}
          <div class="step-line"></div>
          <div class="step-content">
            <div class="step-num">2</div>
            <div class="sub_title">外协部</div>
          </div>
        </li>
        {{# if(d.bsStatus3 == 0){ }}
           <li  class="">
       {{# } else if(d.bsStatus3 == 1) { }}
           <li  class="step_active">
       {{# } else { }}
           <li  class="step_pass">
       {{# } }}
          <div class="step-line"></div>
          <div class="step-content">
            <div class="step-num">3</div>
            <div class="sub_title">业务部</div>
          </div>
        </li>
        {{# if(d.bsStatus4 == 0){ }}
           <li  class="">
       {{# } else if(d.bsStatus4 == 1) { }}
           <li  class="step_active">
       {{# } else { }}
           <li  class="step_pass">
       {{# } }}
          <div class="step-line"></div>
          <div class="step-content">
            <div class="step-num">4</div>
            <div class="sub_title">总经理</div>
          </div>
        </li>
{{#  if(d.bsStatus4 ==2 ){ }}
    <li  class="step_pass_end">
    {{#  } else { }}
    <li  class="step_edd">
    {{#  } }}
          <div class="step-line"></div>
          <div class="step-content">
            <div class="step-num">结束</div>
          </div>
        </li>
      </ul>
            </script>
		</div>


		<script th:src="@{/js/web/quote/quote_all_list.js}"
			src="/js/web/quote/quote_all_list.js"></script>
	</div>
</body>
</html>