<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='报价单汇总详情'"></head>
<style th:inline="text">
.layui-form-label {
	text-align: right;
}

.layui-form-switch {
	margin-top: 0px;
}

.layui-form-radio {
	margin: 0px 10px 0 0;
}

.long-item .layui-form-label {
	width: 160px;
}

.long-item .layui-input-block {
	margin-left: 160px;
}

.legend-font {
	color: #FF3366;
}

.quote-from .layui-form-pane .layui-form-label {
	width: 98px;
}

.quote-from .layui-form-pane .layui-input-block {
	margin-left: 98px;
}
</style>
<body class="layui-layout-body">
	<div th:replace="audio/fragment/audio :: audio"></div>
	<div th:replace="audio/fragment/saomiao :: saomiao"></div>
	<div class="layui-layout layui-layout-admin">
		<div style="margin: 10px" class="quote-from">
			<form id="itemForm" class="layui-form layui-form-pane"
				lay-filter="itemForm" method="post" action="">
				<h3 style="text-align: center;">华誉精密产品-报价汇总单</h3>
				<fieldset class="layui-elem-field layui-field-title"
					style="margin: 10px 0 10px;">
					<legend class="legend-font" style="font-size: 14px;">报价基础信息</legend>
				</fieldset>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">项目编号</label>
						<div class="layui-input-block" style="width: 130px;">
							<input id="bsCode" lay-verify="required" name="bsCode"
								   readonly="readonly"
								autocomplete="off" class="layui-input grey" type="text" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">项目版本</label>
						<div class="layui-input-inline" style="width: 130px;">
							<input id="bsProjVer" lay-verify="required" name="bsProjVer"
								   readonly="readonly" autocomplete="off" class="layui-input grey" type="text" />
						</div>
					</div>
					<input id="createBy" type="hidden" name="createBy" />
					<div class="layui-inline">
						<label class="layui-form-label">业务员</label>
						<div class="layui-input-inline" style="width: 100px;">
							<input id="createBy_name" autocomplete="off" name="createBy_name"
								   readonly="readonly" class="layui-input grey" type="text" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">需求日期</label>
						<div class="layui-input-inline" style="width: 150px;">
							<input id="bsFinishTime" autocomplete="off" name="bsFinishTime"
								   readonly="readonly" class="layui-input grey" type="text" />
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">机种型号</label>
						<div class="layui-input-block" style="width: 130px;">
							<input id="bsDevType" lay-verify="required" name="bsDevType"
								   readonly="readonly"	autocomplete="off" class="layui-input grey" type="text" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">客户名</label>
						<div class="layui-input-inline" style="width: 130px;">
							<input id="bsCustName" lay-verify="required" name="bsCustName"
								   readonly="readonly" autocomplete="off" class="layui-input grey" type="text" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">报价说明</label>
						<div class="layui-input-inline" style="width: 375px;">
							<input id="bsRemarks" autocomplete="off" name="bsRemarks"
								   readonly="readonly" class="layui-input grey" type="text" />
						</div>
					</div>
				</div>
				<fieldset class="layui-elem-field layui-field-title"
					style="margin: 10px 0 10px;">
					<legend class="legend-font" style="font-size: 14px;">报价结构</legend>
				</fieldset>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">系统报价</label>
						<div class="layui-input-block" style="width: 130px;">
							<input id="" name ="bj_all" autocomplete="off" class="layui-input grey"
								   readonly="readonly" type="text" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">生产成本</label>
						<div class="layui-input-inline" style="width: 130px;">
							<input id="" name="p_cb" autocomplete="off"
								   readonly="readonly" class="layui-input grey" type="text" />
							<span
								style="position: absolute; top: 8%; right: 0%; display: table-cell; background-color: #d2d2d2; white-space: nowrap; padding: 7px 10px;">10%</span>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">净利润</label>
						<div class="layui-input-inline" style="width: 130px;">
							<input id="profitNet" name ="profitNet" lay-filter="profitNet" lay-verify="num"
								   autocomplete="off" class="layui-input" type="text" />
							<span
								style="position: absolute; top: 8%; right: 0%; display: table-cell; background-color: #d2d2d2; white-space: nowrap; padding: 7px 10px;">10%</span>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">净利率</label>
						<div class="layui-input-inline" style="width: 130px;">
							<input id="profit_gs" name="profit_gs" autocomplete="off"
								   readonly="readonly" class="layui-input grey" type="text" />
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">模具费用</label>
						<div class="layui-input-block" style="width: 130px;">
							<input id="mould_all" name="mould_all" autocomplete="off"
								   readonly="readonly" class="layui-input grey" type="text" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">管理费用</label>
						<div class="layui-input-inline" style="width: 130px;">
							<input id="gl" name="gl" autocomplete="off"
								   readonly="readonly" class="layui-input grey" type="text" />
							<span
								style="position: absolute; top: 8%; right: 0%; display: table-cell; background-color: #d2d2d2; white-space: nowrap; padding: 7px 10px;">10%</span>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">毛利</label>
						<div class="layui-input-inline" style="width: 130px;">
							<input id="" name="ml" autocomplete="off" readonly="readonly"
								   class="layui-input grey" type="text" />
							<span
								style="position: absolute; top: 8%; right: 0%; display: table-cell; background-color: #d2d2d2; white-space: nowrap; padding: 7px 5px;">15.8%</span>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">毛利率</label>
						<div class="layui-input-inline" style="width: 130px;">
							<input id="ml_rate" name="ml_rate" autocomplete="off"
								    readonly="readonly" class="layui-input grey" type="text" />
						</div>
					</div>
				</div>


				<fieldset class="layui-elem-field layui-field-title"
					style="margin: 10px 0 10px;">
					<legend class="legend-font" style="font-size: 14px;">生产成本构成</legend>
				</fieldset>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">五金材料</label>
						<div class="layui-input-block" style="width: 110px;">
							<input id="cl_hardware" name="cl_hardware" autocomplete="off"
								   readonly="readonly" class="layui-input grey" type="text" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">注塑材料</label>
						<div class="layui-input-inline" style="width: 110px;">
							<input id="cl_molding" name="cl_molding" autocomplete="off"
								   readonly="readonly" class="layui-input grey" type="text" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label"><a data-type="cl_surface">表面处理材料</a></label>
						<div class="layui-input-inline" style="width: 110px;">
							<input id="cl_surface" name="cl_surface" autocomplete="off"
								   readonly="readonly" class="layui-input grey" type="text" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">组装材料</label>
						<div class="layui-input-inline" style="width: 110px;">
							<input id="cl_packag" name="cl_packag" autocomplete="off"
								   readonly="readonly" class="layui-input grey" type="text" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">外协加工</label>
						<div class="layui-input-inline" style="width: 110px;">
							<input id="wx_all" name="wx_all" autocomplete="off"
								   readonly="readonly" class="layui-input grey" type="text" />
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">五金人工</label>
						<div class="layui-input-block" style="width: 110px;">
							<input id="lh_hardware" name="lh_hardware" autocomplete="off"
								   readonly="readonly" class="layui-input grey" type="text" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">注塑人工</label>
						<div class="layui-input-inline" style="width: 110px;">
							<input id="lh_molding" name="lh_molding" autocomplete="off"
								   readonly="readonly" class="layui-input grey" type="text" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">表面处理人工</label>
						<div class="layui-input-inline" style="width: 110px;">
							<input id="lh_surface" name="lh_surface" autocomplete="off"
								   readonly="readonly" class="layui-input grey" type="text" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">组装人工</label>
						<div class="layui-input-inline" style="width: 110px;">
							<input id="lh_packag" name="lh_packag" autocomplete="off"
								   readonly="readonly" class="layui-input grey" type="text" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">后工序损料</label>
						<div class="layui-input-inline" style="width: 110px;">
							<input id="hou_loss_all" name="hou_loss_all" autocomplete="off"
								   readonly="readonly" class="layui-input grey" type="text" />
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">五金制费</label>
						<div class="layui-input-block" style="width: 110px;">
							<input id="lw_hardware" name="lw_hardware" autocomplete="off"
								   readonly="readonly" class="layui-input grey" type="text" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">注塑制费</label>
						<div class="layui-input-inline" style="width: 110px;">
							<input id="lw_molding" name="lw_molding" autocomplete="off"
								   readonly="readonly" class="layui-input grey" type="text" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">表面处理制费</label>
						<div class="layui-input-inline" style="width: 110px;">
							<input id="lw_surface" name="lw_surface" autocomplete="off"
								   readonly="readonly" class="layui-input grey" type="text" />
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">组装制费</label>
						<div class="layui-input-inline" style="width: 110px;">
							<input id="lw_packag" name="lw_packag" autocomplete="off"
								   readonly="readonly" class="layui-input grey" type="text" />
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">五金小计</label>
						<div class="layui-input-block" style="width: 110px;">
							<input id="hardware_all" name="hardware_all" autocomplete="off" readonly="readonly"
								   class="layui-input grey" type="text" />
							<span
								style="position: absolute; top: 8%; right: 0%; display: table-cell; background-color: #d2d2d2; white-space: nowrap; padding: 7px 10px;">10%</span>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">注塑小计</label>
						<div class="layui-input-inline" style="width: 110px;">
							<input id="molding_all" name="molding_all" autocomplete="off"
								   readonly="readonly" class="layui-input grey" type="text" />
							<span
								style="position: absolute; top: 8%; right: 0%; display: table-cell; background-color: #d2d2d2; white-space: nowrap; padding: 7px 10px;">10%</span>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">表面处理小计</label>
						<div class="layui-input-inline" style="width: 110px;">
							<input id="surface_all" name="surface_all" autocomplete="off"
								   readonly="readonly" class="layui-input grey" type="text" />
							<span
								style="position: absolute; top: 8%; right: 0%; display: table-cell; background-color: #d2d2d2; white-space: nowrap; padding: 7px 10px;">10%</span>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">组装小计</label>
						<div class="layui-input-inline" style="width: 110px;">
							<input id="packag_all" name="packag_all" autocomplete="off"
								   readonly="readonly" class="layui-input grey" type="text" />
							<span
								style="position: absolute; top: 8%; right: 0%; display: table-cell; background-color: #d2d2d2; white-space: nowrap; padding: 7px 10px;">10%</span>
						</div>
					</div>
				</div>

			</form>
		</div>

		<!--材料价格明细-->
		<div id="materDetailDiv" class="layer_self_wrap" style="display:none;margin-left: 10px;">
			<table id="materTable" lay-filter="materTable"></table>
		</div>

		<!--人工、制费明细-->
		<div id="processDetailDiv" class="layer_self_wrap" style="display:none;margin-left: 10px;">
			<table id="processTable" lay-filter="processTable"></table>
		</div>


		<script th:inline="javascript">
		
		$("a").css("text-decoration", "underline"); //加上下划线
		
		var quoteId=[[${quoteId}]];
		var quoteDetail=[[${quoteDetail}]];
		
		console.log(quoteDetail)
		
		</script>
		<script th:src="@{/js/web/quote/04summary/quote_sum.js}"
			src="/js/web/quote/04summary/quote_sum.js"></script>

		<style type="text/css">
			.grey {
				background-color: #F2F2F2;
			}
		</style>
	</div>
</body>
</html>