<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='客户信息'">
<meta charset="UTF-8">
</head>
<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
	 <div style="margin: 10px">
	 <form id="clientSearch" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 5px;">
           <div class="layui-form-item" style="margin-bottom: 0px">
					<div class="layui-inline">
						<label class="layui-form-label" style="width: 150px;">关键字查询:</label>
						<div class="layui-input-inline">
							<input id="keywordSearch" name="keywordSearch" autocomplete="off"
								placeholder="请输入关键字" class="layui-input" type="text" />
						</div>
						
						 <button class="layui-btn layui-btn-sm"  lay-submit="" lay-filter="searchSubmit">查询</button>
					<button type="reset" class="layui-btn layui-btn-primary layui-btn-sm"
							title="重置">
							<i class="layui-icon">&#xe669;</i>重置
						</button>
					
					</div>
				</div>
        </form>
         <hr class="layui-bg-black"/>

       <!--  <button class="layui-btn layui-btn-sm layui-btn-normal" onclick="addClient()">添加客户信息</button> -->
        <table id="clientList" lay-filter="clientTable"></table>

        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
	 </div>
	 <!--添加或编辑客户信息-->
    <div id="setClient" class="layer_self_wrap" style="width:500px;display:none;">
        <form id="clientForm" class="layui-form layui-form-pane" lay-filter="clientForm" method="post" action="" style="margin-top: 20px;">
            <input id="pageNum" type="hidden" name="pageNum"/>
            <input id="id" type="hidden" name="id"/>
            <div class="layui-form-item">
                <label class="layui-form-label">客户编码</label>
                <div class="layui-input-inline">
                    <input id="custNo" name="custNo" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">客户简称</label>
                <div class="layui-input-inline">
                    <input id="custNameS" name="custNameS" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">客户名称</label>
                <div class="layui-input-inline">
                    <input id="custName" name="custName" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 10px;">
                    <button class="layui-btn layui-btn-sm"  lay-submit="" lay-filter="addSubmit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
    <script th:src="@{/js/web/basic/client.js}" src="/js/web/basic/client.js"></script>
	</div>
</body>
</html>