<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='上线确认'"></head>
<style th:inline="text">
.layui-form-label {
	text-align: right;
}

.label-width  .layui-form-label{
	width: 90px;
}
.label-width .layui-input-inline{
    width: 150px;
}

</style>
<body class="layui-layout-body">
<div th:replace="audio/fragment/audio :: audio"></div>
<div class="layui-layout layui-layout-admin">
		<!--头-->
		<!--<div th:replace="fragments/head :: header"></div>-->
		<!--创建在线返工制令单-->
    <div id="createDiv" class="layer_self_wrap" style="width:600px;">
        <form id="createForm" class="layui-form layui-form-pane" lay-filter="createForm" method="post" action="" style="margin: 20px;">
           <div class="layui-form-item">
                <label class="layui-form-label">条码</label>
                <div class="layui-input-inline">
                    <input class="layui-input" lay-filter="barcode" id="barcode" name="barcode">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label layui-required">返工料号</label>
                <div class="layui-input-inline">
                   <!--  <select lay-filter="pliao" id="pliao" name="pliao" lay-search lay-verify="required">
					</select> -->
					<input name="pliao" lay-filter="pliao" id="pliao" readonly="readonly" lay-verify="required"
					placeholder="请选择返料单号"  lautocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
			<div class="layui-form-item">
				<label class="layui-form-label">物料名称</label>
				<div class="layui-input-inline">
					<input lay-filter="itemName" class="layui-input grey" readonly="readonly" id="itemName"  name="itemName" lay-verify="required">

				</div>
			</div>
            <div class="layui-form-item">
                <label class="layui-form-label layui-required">组长</label>
                <div class="layui-input-inline">
                    <select lay-filter="puser" id="puser" name="puser" lay-search lay-verify="required">
					</select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label layui-required">日期</label>
                <div class="layui-input-inline">
                    <input type="text" name="pdate1" lay-filter="pdate1" class="layui-input" id="pdate1" placeholder="yyyy-MM-dd">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label layui-required">订单数量</label>
                <div class="layui-input-inline">
                    <input  name="qty" lay-verify="required|number" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
			<div class="layui-form-item">
			<label class="layui-form-label layui-required">部门</label>
			<div class="layui-input-inline" >
				<select lay-filter="deptId" id="deptId" name="deptId">
				</select>
			</div>
			</div>
			<div class="layui-form-item">
			<label class="layui-form-label layui-required">班次</label>
			<div class="layui-input-inline" >
				<select lay-filter="pclass2" id="pclass2" name="pclass2">
				</select>
			</div>
			</div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 10px;">
                    <button class="layui-btn layui-btn-sm"  lay-submit="" lay-filter="add">创建</button>
                    <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">取消</button>
                </div>
            </div>
        </form>
    </div>
    
		<script th:src="@{/js/web/produce/verify/verify_add.js}" src="/js/web/produce/verify/verify_add.js"></script>
	</div>
<style type="text/css">
	.grey {
		background-color:#F2F2F2;
	}
</style>
</body>
</html>