/*搜索框部分*/
.retrieval {
  margin: 0;
  padding: 0;
  clear: both;
  overflow: hidden;
}
.retrieval .searchDiv{margin-left:20px;display: none;}
.title {
  margin: 0 0 10px 0;
  padding: 3px 10px 0 0;
  background: #ededed;
  clear: both;
  overflow: hidden;
  height: 30px;
  line-height: 30px;
}
.title h3 {
  float: left;
  margin: 0;
  padding: 0 0 0 20px;
  font: 12px/24px "宋体", Arial, Tahoma, sans-serif;
  color: #fff;
  background: url(../img/title-bg.gif) no-repeat left top scroll;
  height: 24px;
  width: 80px;
}

.title .filter {
  float: left;
  display: inline;
  margin: 0 0 0 15px;
  padding: 2px 0;
}
.title .filter ul {
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
}
.title .filter ul li {
  float: left;
  display: inline;
  margin: 0 5px 0 0;
  padding: 0;
  height: 20px;
  vertical-align: middle;
  color: #333;
  font: 12px/20px Arial, Helvetica, sans-serif;
}
.title .filter ul li a {
  color: #333;
  text-decoration: none;
  padding: 0 10px 0 0;
  float: left;
}
.title .filter ul li.current a {
  float: left;
  padding: 0 10px 0 0;
  background: #050f36;
  text-decoration: none;
  color: #fff;
  text-decoration: none;
}
.title .filter ul li.current a span {
  float: left;
  background: #050f36;
  text-decoration: none;
  color: #fff;
  text-decoration: none;
}

.title .filter ul li a span {
  float: left;
  display: inline;
  padding: 0 0 0 10px;
  margin: 0;
  color: #333;
  font: 12px/20px Arial, Helvetica, sans-serif;
}

.title span.more {
  float: right;
  margin: 3px 0 0 0;
  padding: 0;
  background: url(../img/retrieve-btn.gif) no-repeat left top scroll;
  width: 61px;
  height: 18px;
  cursor: pointer;
}


.circle {
  font-size: 14px;
  color: #27558e;
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #27558e;
  border-radius: 50%;
  margin-right: 5px;
}

.red {
  color: #fd5822;
}
.blue {
  color: #409eff;
}
.green {
  color: #67c23a;
}
.yellow {
  color: #ebf552;
}
.orange {
  color: #fd5822;
}
.gray {
  color: #333;
}

.bgred {
  background-color: #fd5822;
}
.bgblue {
  background-color: #409eff;
}
.bggreen {
  background-color: #67c23a;
}
.bgorange {
  background-color: #fd5822;
}
.bggray {
  background-color: #333;
}
.mt10 {
  margin-top: 10px;
}
.title-panel {
  padding: 12px 40px;
  /*margin-bottom: 30px;*/
  background-color: #ffffff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  /*box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);*/
  width: 100%;
}
.setpadding {
  padding: 10px 40px;
  border: 1px solid #ddd;
  border-top: none;
}
.layout-content {
  background-color: white;
}

.Title {
  padding-left: 1%;
  padding-right: 1%;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  font-weight: 600;
  text-align: center;
  background: #f0f0f0;
  margin-top: 10px;
}
.td1 {
  width: 25%;
  height: 40px;
  text-align: center;
  font-size: 14px;
  font-family: "Microsoft YaHei";
}
.status {
  color: #657180;
  font-family: "Microsoft YaHei";
  font-size: 14px;
}
.cpshtd2 {
  height: 50px;
  background-color: #f5f7f9;
  padding-left: 50px;
}

.grid-content .ivu-icon {
  font-size: 20px;
  color: #888;
  margin-right: 10px;
}
.grid-content {
  font-size: 15px;
}
.top .fr {
  float: right;
  margin-right: 6%;
}
.top .fl {
  float: left;
  display: inline-block;
  width: 70%;
  line-height: 30px;
}
.RecordeBtn {
  width: 140px;
  padding: 12px 12px;
}
.tag {
  text-align: right;
  margin-left: 40%;
}
.fr .el-button--success {
  padding: 10px 10px;
}
.icon {
  font-size: 14px;
}
.top .grid-content .ivu-icon {
  color: #fd5822;
}
.bscode {
  line-height: 50px;
  color: 16px;
  height: 50px;
}
.bscode .icon {
  font-size: 18px;
  color: blue;
}
.approvedItem .el-button {
  padding: 9px 20px;
}
.approvedstatus {
  float: right;
  font-size: 14px;
  margin-right: 6%;
}
.panel1 {
  background: #f1f6fc !important;
}
.result-info {
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: 600;
}
.el-row{
	box-sizing:border-box;
}
.el-button--success.is-plain{
	color:#67C23A;
	background:#f0f9eb;
	border-color:#c2e7b0;
}
.el-button--success.is-plain:focus, .el-button--success.is-plain:hover{
	background:#67C23A;
	border-color:#67C23A;
	color:#FFF;
}


a:link { color: #06F; text-decoration: none; }/* 未访问的链接 */
a:visited { color: #999; text-decoration: line-through; } /* 已访问的链接 */
a:hover { color: #F00; text-decoration: underline; }/* 鼠标移动到链接上 */
a:active { color: #F0F; } /* 选定的链接 */