<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='在线人员调整'"></head>
<style th:inline="text">
.layui-form-label {
	text-align: right;
}

.layui-form-switch {
	margin-top: 0px;
}

.layui-form-radio {
	margin: 0px 10px 0 0;
}

.long-item .layui-form-label {
	width: 160px;
}

.long-item .layui-input-block {
	margin-left: 160px;
}
</style>
<body class="layui-layout-body">
	<div th:replace="audio/fragment/audio :: audio"></div>
	<div th:replace="audio/fragment/saomiao :: saomiao"></div>
	<div class="layui-layout layui-layout-admin">
		<!--头-->
		<!--<div th:replace="fragments/head :: header"></div>-->

		<div class="layui-tab layui-tab-card">
			<ul class="layui-tab-title">
				<li class="layui-this">在线人员调整</li>
				<!-- <li>历史查询</li> -->
			</ul>
			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show">

					<div style="margin: 5px">
						<button class="layui-btn layui-btn-sm layui-btn-normal"
							onclick="add()">在线人员调整</button>
						<fieldset class="layui-elem-field layui-field-title">
							<legend style="font-size: 14px;"></legend>
						</fieldset>
						<table id="colTable" lay-filter="colTable"
							style="margin-top: -20px;"></table>
					</div>
				</div>
			</div>
		</div>
		<!--添加或编辑物料-->
		<div id="setTask" class="layer_self_wrap"
			style="width: 800px; display: none; margin-left: 10px;">
			<form id="itemFrom" class="layui-form layui-form-pane"
				lay-filter="itemFrom" method="post" action="">
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label layui-required">原制令单号</label>
						<div class="layui-input-inline" style="width: 180px;">
							<input type="text" name="lastTaskNo" placeholder="请选择"
								autocomplete="off" class="layui-input" readonly="readonly"
								lay-verify="required" id="lastTaskNo">
						</div>
						<label class="layui-form-label">物料编码</label>
						<div class="layui-input-inline" style="width: 160px;">
							<input id="last_itemcode" name="last_itemcode" autocomplete="off"
								style="background: #efefef;" class="layui-input" disabled
								type="text" />
						</div>
						<label class="layui-form-label">组长</label>
						<div class="layui-input-inline" style="width: 90px;">
							<input id="last_liner" name="last_liner" autocomplete="off"
								style="background: #efefef;" class="layui-input" disabled
								type="text" />
						</div>
					</div>
				</div>
				<input id="lastClassId" type="hidden" name="lastClassId" /> <input
					id="lastLineId" type="hidden" name="lastLineId" />

				<div class="layui-form-item">
					<label class="layui-form-label">客户简称</label>
					<div class="layui-input-inline" style="width: 180px;">
						<input id="last_customer" name="last_customer" autocomplete="off"
							style="background: #efefef;" class="layui-input" disabled
							type="text" />
					</div>
					<label class="layui-form-label">工时类型</label>
					<div class="layui-input-inline" style="width: 120px;">
						<input id="lastHourType" name="lastHourType" autocomplete="off"
							style="background: #efefef;" class="layui-input" disabled
							type="text" />
					</div>
					<label class="layui-form-label">生产日期</label>
					<div class="layui-input-inline" style="width: 130px;">
						<input id="lastWorkDate" name="lastWorkDate" autocomplete="off"
							style="background: #efefef;" class="layui-input" disabled
							type="text" />
					</div>
					<label class="layui-form-label layui-required">下线时间</label>
					<div class="layui-input-inline" style="width: 130px;">
						<input id="lastDateEnd" name="lastDateEnd" lay-verify="required"
							autocomplete="off" class="layui-input" type="text" />
					</div>
				</div>
				<hr />
				<div class="layui-form-item">
					<label class="layui-form-label layui-required">新制令单号</label>
					<div class="layui-input-inline" style="width: 180px;">
						<input type="text" name="newTaskNo" placeholder="请选择"
							autocomplete="off" class="layui-input" readonly="readonly"
							lay-verify="required" id="newTaskNo">
					</div>
					<label class="layui-form-label">物料编码</label>
					<div class="layui-input-inline" style="width: 160px;">
						<input id="new_itemcode" name="new_itemcode" autocomplete="off"
							style="background: #efefef;" class="layui-input" disabled
							type="text" />
					</div>
					<label class="layui-form-label">组长</label>
					<div class="layui-input-inline" style="width: 90px;">
						<input id="new_liner" name="new_liner" autocomplete="off"
							style="background: #efefef;" class="layui-input" disabled
							type="text" />
					</div>
				</div>

				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">客户简称</label>
						<div class="layui-input-inline" style="width: 180px;">
							<input id="new_customer" name="new_customer" autocomplete="off"
								style="background: #efefef;" class="layui-input" disabled
								type="text" />
						</div>

						<label class="layui-form-label layui-required">工时类型</label>
						<div class="layui-input-inline" style="width: 120px;">
							<select id="newHourType" lay-filter="newHourType"
								name="newHourType" autocomplete="off" lay-verify="required"
								class="layui-select" lay-search>
								<option value="">请选择</option>
								<option value="正常班">正常班</option>
								<option value="平时加班">平时加班</option>
								<option value="周末加班">周末加班</option>
								<option value="法定加班">法定加班</option>
							</select>
						</div>
						<label class="layui-form-label">生产日期</label>
						<div class="layui-input-inline" style="width: 130px;">
							<input id="newWorkDate" name="newWorkDate" autocomplete="off"
								style="background: #efefef;" class="layui-input" disabled
								type="text" />
						</div>
					</div>
				</div>

				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label layui-required">线体</label>
						<div class="layui-input-inline" style="width: 160px;">
							<select id="newLineId" lay-filter="newLineId" name="newLineId"
								autocomplete="off" lay-verify="required" class="layui-select"
								lay-search>
							</select>
						</div>
						<label class="layui-form-label layui-required">班次</label>
						<div class="layui-input-inline" style="width: 85px;">
							<select id="newClassId" lay-filter="newClassId" name="newClassId"
								autocomplete="off" lay-verify="required" class="layui-select"
								lay-search>
							</select>
						</div>

						<label class="layui-form-label layui-required">上线时间</label>
						<div class="layui-input-inline" style="width: 120px;">
							<input id="newTimeBegin" name="newTimeBegin"
								lay-verify="required" autocomplete="off" class="layui-input"
								type="text" />
						</div>
						<!-- <shiro:hasPermission name="bad_entry:save">
									<button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-submit=""
										lay-filter="saveData">保存不良</button>
									</shiro:hasPermission>-->
						<button type="button"
							class="layui-btn layui-btn-sm layui-btn-normal" lay-submit=""
							lay-filter="saveData">保存</button>
					</div>
				</div>

				<div class="layui-form-item">
					<div class="layui-inline"></div>
				</div>




			</form>
			<fieldset class="layui-elem-field layui-field-title">
				<legend style="font-size: 14px;">人员列表</legend>
			</fieldset>
			<table id="empTable" lay-filter="empTable" style="margin-top: -20px;"></table>
		</div>
		<script th:src="@{/js/web/produce/switch_staff/switch_staff.js}"
			src="/js/web/produce/switch_staff/switch_staff.js"></script>
	</div>
</body>
</html>