<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='新增报价单'"></head>
<style th:inline="text">
.layui-form-label {
	text-align: right;
}

.layui-form-switch {
	margin-top: 0px;
}

.layui-form-radio {
	margin: 0px 10px 0 0;
}

.long-item .layui-form-label {
	width: 160px;
}

.long-item .layui-input-block {
	margin-left: 160px;
}

.legend-font {
	color: #FF3366;
}
</style>
<body class="layui-layout-body">
	<div th:replace="audio/fragment/audio :: audio"></div>
	<div th:replace="audio/fragment/saomiao :: saomiao"></div>
	<div class="layui-layout layui-layout-admin">
		<div style="margin: 10px;">
			<form id="itemForm" class="layui-form layui-form-pane"
				lay-filter="itemForm" method="post" action="" style="overflow-x: hidden;">
				<h3 style="text-align: center;">华誉精密产品报价需求单</h3>
				<fieldset class="layui-elem-field layui-field-title" style="margin:10px 0 10px;">
					<legend class="legend-font" style="font-size: 14px;">报价基础信息</legend>
				</fieldset>
				<input id="id" type="hidden" name="id" />
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label layui-required">报价类型</label>
						<div class="layui-input-inline">
							<select id="bsType" lay-verify="required" name="bsType"
								autocomplete="off" class="layui-select" lay-search>
							</select>
						</div>
						<label class="layui-form-label layui-required">完成日期</label>
						<div class="layui-input-inline" style="width: 140px;">
							<input id="bsFinishTime" lay-verify="required"
								name="bsFinishTime" autocomplete="off" class="layui-input"
								type="text" />
						</div>
						<label class="layui-form-label layui-required">管理费率</label>
						<div class="layui-input-inline">
							<input id="bsManageFee" autocomplete="off" name="bsManageFee" value="3.61"
								class="layui-input" type="text" lay-verify="required|double"/> <span
								style="position: absolute; top: 8%; right: 0%; display: table-cell; background-color: #d2d2d2; white-space: nowrap; padding: 7px 10px;">%</span>
						</div>

					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">报价备注</label>
						<div class="layui-input-inline" style="width: 450px;">
							<input id="bsRemarks" autocomplete="off" name="bsRemarks"
								class="layui-input" type="text" />
						</div>
					</div>
				</div>
				<hr style="margin-top: 10px; margin-bottom: 10px;">
				<div class="layui-form-item">
					<label class="layui-form-label layui-required">产品型号</label>
					<div class="layui-input-inline" style="width: 160px;">
						<input id="bsProd" autocomplete="off" name="bsProd"
							lay-verify="required" class="layui-input" type="text" />
					</div>
					<input id="bsProdType" type="hidden" name="bsProdType" />
					<label class="layui-form-label layui-required">产品类型</label>
					<div class="layui-input-inline" style="width: 180px;">
						<select id="bsProdTypeId" lay-filter="bsProdTypeId" lay-verify="required" autocomplete="off"
							name="bsProdTypeId" class="layui-select" lay-search>
						</select>
					</div>
					<label class="layui-form-label layui-required">报价阶段</label>
					<div class="layui-input-inline" style="width: 180px;">
						<select id="bsStage" lay-verify="required" autocomplete="off"
							name="bsStage" class="layui-select" lay-filter="bsStage" lay-search>
							<option value="初始报价">初始报价</option>
							<option value="量产报价">量产报价</option>
						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label layui-required">版本</label>
						<div  class="layui-input-inline"  style="width: 160px;">
						<input id="bsProjVer" autocomplete="off" name="bsProjVer"
							   class="layui-input" type="text" lay-verify="required|number" />
						</div>

						<label class="layui-form-label">是否中标</label>
						<div class="layui-input-inline" style="width: 180px;">
							<select id="bsBade"  autocomplete="off"  disabled
									name="bsBade" class="layui-select" lay-filter="bsBade" lay-search>
								<option value=""></option>
								<option value="0">否</option>
								<option value="1">是</option>
							</select>
						</div>

						<label class="layui-form-label layui-required">是否最新</label>
						<div class="layui-input-inline" style="width: 200px;">
							<input type="radio" name="bsLatest" lay-filter="bsLatest"
								   value="1" title="是&#12288;" checked>
							<input type="radio" name="bsLatest" lay-filter="bsLatest" value="0" title="否">

						</div>

					</div>

				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
					<label class="layui-form-label">相似产品</label>
					<div class="layui-input-inline" style="width: 160px;">
						<input id="bsSimilarProd" autocomplete="off" name="bsSimilarProd"
							class="layui-input" type="text" />
					</div>
						<label class="layui-form-label layui-required">客户名称</label>
						<div class="layui-input-inline" style="width: 180px;">
							<input id="bsCustName" lay-verify="required" autocomplete="off"
								name="bsCustName" class="layui-input" type="text" />
						</div>
						<label class="layui-form-label layui-required">市场定位</label>
						<div class="layui-input-inline" style="width: 350px;">
							<input type="radio" name="bsPosition" lay-filter="bsPosition"
								value="高端" title="高端" checked> <input type="radio"
								name="bsPosition" lay-filter="bsPosition" value="一般" title="一般">
							<input type="radio" name="bsPosition" lay-filter="bsPosition"
								value="低端" title="低端">
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label layui-required">客户提供资料</label>
						<div class="layui-input-inline" style="width: 550px;">
							<input type="checkbox" id="material" title="ID图" value="ID图"
								lay-skin="primary"> <input type="checkbox" id="material"
								title="sample" value="sample" lay-skin="primary"> <input
								type="checkbox" id="material" title="产品规格书" value="产品规格书"
								lay-skin="primary"> <input type="checkbox" id="material"
								title="BOM清单" value="BOM清单" lay-skin="primary"> <input
								type="checkbox" id="material" title="3D图" value="3D图"
								lay-skin="primary">
						</div>
					</div>
				</div>

				<fieldset class="layui-elem-field layui-field-title"  style="margin:10px 0 10px;">
					<legend class="legend-font" style="font-size: 14px;">品质检验要求</legend>
				</fieldset>

				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label layui-required">1.外观检验</label>
						<div class="layui-input-inline" style="width: 340px;">
							<input type="checkbox" id="chkOutItem" value="按我司成品标准"
								title="按我司成品标准" lay-skin="primary"> <input
								type="checkbox" id="chkOutItem" value="按客户规格书标准"
								lay-skin="primary" title="按客户规格书标准">
						</div>
						<div class="layui-input-inline" style="width: 310px;">
							<input id="bsChkOut" name="bsChkOut" autocomplete="off"
								class="layui-input" type="text" />
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label layui-required">2.性能要求</label>
						<div class="layui-input-inline" style="width: 340px;">
							<input type="checkbox" lay-skin="primary" id="functionItem"
								value="按我司成品标准" title="按我司成品标准"> <input type="checkbox"
								lay-skin="primary" id="functionItem" value="按客户规格书标准"
								title="按客户规格书标准">
						</div>
						<div class="layui-input-inline" style="width: 310px;">
							<input id="bsFunction" name="bsFunction" autocomplete="off"
								class="layui-input" type="text" />
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label layui-required">3.环保要求</label>
						<div class="layui-input-inline" style="width: 730px;">
							<input type="checkbox" id="require" title="RoHS"
								lay-skin="primary"> <input type="checkbox" id="require"
								title="RECAH" lay-skin="primary"> <input type="checkbox"
								id="require" title="PAHS" lay-skin="primary"> <input
								type="checkbox" id="require" title="CA65" lay-skin="primary">
							<input type="checkbox" id="require" title="3BPA"
								lay-skin="primary"> <input type="checkbox" id="require"
								title="HFS" lay-skin="primary"> <input type="checkbox"
								id="require" title="无卤" lay-skin="primary"> <input
								type="checkbox" id="require" title="其他" lay-skin="primary">
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label layui-required">4.防水防尘等级</label>
						<div class="layui-input-inline">
							<select id="bsLevel" lay-filter="bsLevel" name="bsLevel"
								autocomplete="off" class="layui-select" lay-search>
								<option value="不涉及">不涉及</option>
								<option value="涉及">涉及</option>
							</select>
						</div>
					</div>
				</div>
				<fieldset class="layui-elem-field layui-field-title"  style="margin:10px 0 10px;">
					<legend class="legend-font" style="font-size: 14px;">客户其他要求</legend>
				</fieldset>
				<div class="layui-form-item">
					<div class="layui-inline">
						<div class="layui-input-inline" style="width: 700px;">
							<textarea id="bsCustRequire" name="bsCustRequire" style="min-height:70px;height:70px;margin-left:5px;"
								placeholder="请输入内容" class="layui-textarea"></textarea>
						</div>
					</div>
				</div>

				<hr style="margin-top: 10px; margin-bottom: 10px;">
				<div class="layui-form-item">
					<div class="layui-input-block" style="width: 100%;">
						<button class="layui-btn layui-btn-sm layui-btn-normal" id="saveBtn"
							type="button" style="width: 15%; margin-left: 35%;" lay-submit=""
							lay-filter="saveData">确认提交</button>
					</div>
				</div>
			</form>
		</div>
		<script th:inline="javascript">
		var prodType=[[${prodType}]];
		var quoteId=[[${quoteId}]];
		var QuoteType = [[${QuoteType}]];
		var Jitai = [[${Jitai}]];
		var Status=[[${Status}]];
		var Fee = [[${Fee}]];

		</script>
		<script th:src="@{/js/web/quote/01business/quote_add.js}"
			src="/js/web/quote/01business/quote_add.js"></script>
	</div>
</body>
</html>