<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='新增报价单'"></head>
<style th:inline="text">
.layui-form-label {
	text-align: right;
}

.layui-form-switch {
	margin-top: 0px;
}

.layui-form-radio {
	margin: 0px 10px 0 0;
}

.long-item .layui-form-label {
	width: 160px;
}

.long-item .layui-input-block {
	margin-left: 160px;
}
.legend-font{
color:#FF3366;
}
</style>
<body class="layui-layout-body">
	<div th:replace="audio/fragment/audio :: audio"></div>
	<div th:replace="audio/fragment/saomiao :: saomiao"></div>
	<div class="layui-layout layui-layout-admin">
		<div style="margin: 10px">
			<form id="itemForm" class="layui-form layui-form-pane"
				lay-filter="itemForm" method="post" action="">
				<h3 style="text-align:center;">华誉精密产品报价需求单</h3>
				<fieldset class="layui-elem-field layui-field-title">
					<legend class="legend-font" style="font-size: 14px;">报价基础信息</legend>
				</fieldset>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label layui-required">报价类型</label>
						<div class="layui-input-inline">
							<select id="bsType" lay-verify="required" name="bsType"
								autocomplete="off" class="layui-select" lay-search>
								<option value="">请选择</option>
								<option value="1">类型1</option>
								<option value="2">类型2</option>
								<option value="3">类型3</option>
								<option value="4">类型4</option>
							</select>
						</div>
						<label class="layui-form-label layui-required">完成日期</label>
						<div class="layui-input-inline" style="width: 130px;">
							<input id="bsFinishTime" lay-verify="required" name="bsFinishTime"
								autocomplete="off" class="layui-input" type="text" />
						</div>
						<label class="layui-form-label">报价备注</label>
						<div class="layui-input-inline" style="width: 360px;">
							<input id="bsRemarks" autocomplete="off" name="bsRemarks"
								class="layui-input" type="text" />
						</div>
					</div>
				</div>
				<hr style="margin-top:10px;margin-bottom:10px;">
				<div class="layui-form-item">
					<label class="layui-form-label layui-required">产品型号</label>
					<div class="layui-input-inline">
						<input id="bsProd" autocomplete="off" name="bsProd"
						lay-verify="required" class="layui-input" type="text" />
					</div>
					<label class="layui-form-label">相似产品</label>
					<div class="layui-input-inline" style="width: 130px;">
						<input id="bsSimilarProd" autocomplete="off" name="bsSimilarProd"
							class="layui-input" type="text" />
					</div>
					<label class="layui-form-label layui-required">产品类型</label>
					<div class="layui-input-inline" style="width: 200px;">
						<select id="pkProfitProd" lay-verify="required"  autocomplete="off"
						name="pkProfitProd" class="layui-select" lay-search>
						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label layui-required">客户名称</label>
						<div class="layui-input-inline" style="width: 310px;">
							<input id="bsCustName" lay-verify="required" autocomplete="off"
								name="bsCustName" class="layui-input" type="text" />
						</div>
						<label class="layui-form-label">市场定位</label>
						<div class="layui-input-inline" style="width: 350px;">
							<input type="radio" name="bsPosition" lay-filter="bsPosition"
								value="高端" title="高端" checked> <input type="radio"
								name="bsPosition" lay-filter="bsPosition" value="一般" title="一般">
							<input type="radio" name="bsPosition" lay-filter="bsPosition"
								value="低端" title="低端">
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label layui-required">客户提供资料</label>
						<div class="layui-input-inline" style="width: 550px;">
							<input type="checkbox" name="bsMaterial" title="ID图" value="ID图"
								lay-skin="primary"> 
								<input type="checkbox" 
								name="bsMaterial" title="sample"  value="sample" lay-skin="primary"> 
								<input
								type="checkbox" name="bsMaterial" title="产品规格书" value="产品规格书"
								lay-skin="primary"> 
								<input type="checkbox" name="bsMaterial" title="BOM清单" value="BOM清单" lay-skin="primary">
								 <input type="checkbox" name="bsMaterial" title="3D图" value="3D图"  lay-skin="primary">
						</div>
					</div>
				</div>

				<fieldset class="layui-elem-field layui-field-title">
					<legend class="legend-font" style="font-size: 14px;">品质检验要求</legend>
				</fieldset>

				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label layui-required">1.外观检验</label>
						<div class="layui-input-inline" style="width: 340px;">		
							<input type="checkbox" name="bsChkOutItem" lay-filter="bsChkOutItem"
								value="按我司成品标准" title="按我司成品标准" lay-skin="primary"> 
								<input type="checkbox"name="bsChkOutItem" lay-filter="bsChkOutItem" value="按客户规格书标准" lay-skin="primary"
								title="按客户规格书标准">
						</div>
						<div class="layui-input-inline" style="width: 310px;">
							<input id="bsChkOut" name="bsChkOut" autocomplete="off"
								class="layui-input" type="text" />
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label layui-required">2.性能要求</label>
						<div class="layui-input-inline" style="width: 340px;">
							<input type="checkbox" name="bsFunctionItem" lay-skin="primary"
								lay-filter="bsFunctionItem" value="按我司成品标准" title="按我司成品标准">
							<input type="checkbox" name="bsFunctionItem" lay-skin="primary"
								lay-filter="bsFunctionItem" value="按客户规格书标准" title="按客户规格书标准">
						</div>
						<div class="layui-input-inline" style="width: 310px;">
							<input id="bsFunction" name="bsFunction" autocomplete="off"
								class="layui-input" type="text" />
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label layui-required">3.环保要求</label>
						<div class="layui-input-inline" style="width: 730px;">
							<input type="checkbox" name="bsRequire" title="RoHS"
								lay-skin="primary"> <input type="checkbox"
								name="bsRequire" title="RECAH" lay-skin="primary"> <input
								type="checkbox" name="bsRequire" title="PAHS"
								lay-skin="primary"> <input type="checkbox"
								name="bsRequire" title="CA65" lay-skin="primary"> <input
								type="checkbox" name="bsRequire" title="3BPA"
								lay-skin="primary"> <input type="checkbox"
								name="bsRequire" title="HFS" lay-skin="primary"> <input
								type="checkbox" name="bsRequire" title="无卤" lay-skin="primary">
							<input type="checkbox" name="bsRequire" title="其他"
								lay-skin="primary">
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label layui-required">4.防水防尘等级</label>
						<div class="layui-input-inline">
							<select id="bsLevel" lay-filter="bsLevel" name="bsLevel"
								autocomplete="off" class="layui-select" lay-search>
								<option value="不涉及">不涉及</option>
								<option value="涉及">涉及</option>
							</select>
						</div>
					</div>
				</div>
				<fieldset class="layui-elem-field layui-field-title">
					<legend class="legend-font" style="font-size: 14px;">客户其他要求</legend>
				</fieldset>
				<div class="layui-form-item">
					<div class="layui-inline">
						<div class="layui-input-inline" style="width: 700px;">
							<textarea id="bsCustRequire" name="bsCustRequire" placeholder="请输入内容"
								class="layui-textarea"></textarea>
						</div>
					</div>
				</div>
				
				<fieldset class="layui-elem-field layui-field-title"></fieldset>
				<div class="layui-form-item">
					<div class="layui-inline">
						<button type="button"
							class="layui-btn layui-btn-sm layui-btn-normal" lay-submit=""
							lay-filter="saveData">下一步</button>
					</div>
				</div>
			</form>
		</div>
		<script th:inline="javascript">
		var profitProdList=[[${profitProdList}]];
		</script>
		<script th:src="@{/js/web/quote/01business/quote_add.js}"
			src="/js/web/quote/01business/quote_add.js"></script>
	</div>
</body>
</html>