<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>报工看板</title>
    <link href="../kanban/styles/common.css" th:href="@{/kanban/styles/common.css}" rel="stylesheet">
    <script src="../kanban/scripts/Plugin/jquery-3.3.1.min.js" th:src="@{/kanban/scripts/Plugin/jquery-3.3.1.min.js}"></script>
    <script src="../kanban/scripts/Plugin/echarts.min.js" th:src="@{/kanban/scripts/Plugin/echarts.min.js}"></script>
    <script src="../kanban/scripts/common.js" th:src="@{/kanban/scripts/common.js}"></script>
    <script src="../kanban/scripts/quota.js" th:src="@{/kanban/scripts/cjbg.js}"></script>
    <link rel="stylesheet" href="../layui/css/layui.css" th:href="@{/layui/css/layui.css}"></link>
    <script src="../layui/layui.js"  th:src="@{/layui/layui.js}"></script>

</head>
<body>
<!--顶部-->
<header class="header left">
<div class="total_chose_box" >
            <div style="height: 5px;"></div>
            <span class="chose_tltle">请选择班次：</span>
            <select class="year_chose" id="class_select">
                <option value ="999">当日看板</option>
                <option value ="998">24小时看板</option>
                <option value ="1">白班</option>
                <option value ="2">晚班</option>
            </select>
            <span class="chose_tltle">请输入部门：</span>
            <select class="year_chose" id="dep_select">
                
            </select>
            <span class="chose_tltle">请选择日期：</span>
            <input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="chose_text_in ">
            <!-- <input class="chose_text_in"> -->
            <button class="chose_enter" id="searchBtn">确定</button>
        </div>
  <div class="left nav">
      <ul>
          <li><i class="nav_1"></i> </li>
          <li><i class="nav_2"></i></li>
          <li><i class="nav_3"></i></li>
          </ul>
  </div>
    <div class="header_center left" style="position:relative">
        
        <h2><strong>组装二部报工看板</strong></h2>

    </div>
    <div class="right nav text_right">
        
    </div>

</header>
<!--内容部分-->
<div class="con left">
  <!--数据总概-->
  <div class="con_div">
      <div  class="con_div_text" id="chartDiv" style="width:100%;height:220px;"></div>
  </div>
    <!--统计分析图-->
    <div class="div_any">
     <div class="layui-row layui-col-space5" id="rowDiv">
	    <!-- <div class="layui-col-md3">
	        <div class="div_any_child">
                <div class="div_any_title">L1</div>
                  <div  class="tip-container">
					   <div class="tip-content" >
					     <div  class="speed-container">
					      <div class="speed-content">
					       <ul>
					       <li><span class="zhzb-li-name">在线人数</span><span class="zhzb-li-num">100</span></li>
					       <li><span class="zhzb-li-name">标准工时</span><span class="zhzb-li-num">2</span></li>
					       <li><span class="zhzb-li-name">实际工时</span><span class="zhzb-li-num">0</span></li>
					       <li><span>生产效率</span><span class="speed-line"><span id="qybxspm1" class="speed-num" style="background-color: rgb(85, 182, 237); width: 86.4%;"></span><span class="numText">86.4%</span></span></li>
					        <li><span>中部</span><span class="speed-line"><span id="qybxspm0" class="speed-num" style="background-color: rgb(85, 218, 237); width: 86.4%;"></span><span class="numText">1123</span></span></li>
					        <li><span>东部</span><span class="speed-line"><span id="qybxspm1" class="speed-num" style="background-color: rgb(85, 182, 237); width: 69.5%;"></span><span class="numText">904</span></span></li>
					        <li><span>西部</span><span class="speed-line"><span id="qybxspm2" class="speed-num" style="background-color: rgb(63, 128, 210); width: 65%;"></span><span class="numText">845</span></span></li>
					        <li><span>北部</span><span class="speed-line"><span id="qybxspm3" class="speed-num" style="background-color: rgb(43, 93, 184); width: 58.2%;"></span><span class="numText">756</span></span></li>
					        <li><span>南部</span><span class="speed-line"><span id="qybxspm4" class="speed-num" style="background-color: rgb(24, 100, 227); width: 52.6%;"></span><span class="numText">684</span></span></li>
					       </ul>
					      </div>
					     </div>
					   </div>
                   </div> 
            </div>
	    </div> -->
	  </div>

    </div>
    <script th:inline="javascript">
    var context = [[@{/}]];
    	layui.use([ 'laydate'], function(){
    		  var layer = layui.layer
    		  ,laydate = layui.laydate;
    		  
    		  //日期
    		  laydate.render({
    		    elem: '#date'
    		  });
    	});
    </script>

</div>
</body>
</html>
