<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>详细数据看板</title>
<script type="text/javascript" src="../kanban/js/jquery.js"></script>
<link rel="stylesheet" href="../kanban/css/comon0.css">
<link rel="stylesheet" href="../layui/css/layui.css"
	th:href="@{/layui/css/layui.css}"></link>
<script src="../layui/layui.js" th:src="@{/layui/layui.js}"></script>
</head>
<style>

.tablebox {
	height: 450px;
	overflow: hidden;
	position: relative;
	margin: 10px auto;
}

.tbl-header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}

.tbl-body {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

table, table tr td {
	border: 2px solid #333399;
	border-collapse: collapse;
}

.tablebox table {
	width: 100%;
}

.tablebox table th, .tablebox table td {
	text-align: center;
	vertical-align: middle;
	padding: 4px;
	color: #FFFFFF;
}

.tablebox table tr th {
	background: #333399;
	cursor: pointer;
}

th {
	font-size: 16px;
	font-weight: normal;
}

td {
	font-size: 16px;
}


.line {
	position: absolute;
	left: .3rem;
	top: 0;
	line-height: .75rem;
}

h1 {
	font-weight: bold;
}
</style>
<script>
	$(window).load(function(){  
             $(".loading").fadeOut()
            })  
			
/****/
$(document).ready(function(){
	var whei=$(window).width()
	$("html").css({fontSize:whei/20})
	$(window).resize(function(){
		var whei=$(window).width()
	 $("html").css({fontSize:whei/20})
});
	});
	</script>
<script type="text/javascript" src="../kanban/js/echarts.min.js"></script>
<body>
	</header> -->
	<div class="head">

		<div class="line">
			<span style="color: #FFFFFF; font-size: 16px;" id="showLine"></span>
		</div>
		<h1 id="title">组装二部效率看板</h1>
		<div class="weather">
			<!--<img src="picture/weather.png"><span>多云转小雨</span>-->
			<span id="showTime"></span>
		</div>

		<script>
			var t = null;
			var dt =null;
			$.ajax({
				type : "GET",
				url :  "/sys/report/getServerTime",
				data : "",
				async: false,
				dataType : "json",
				success : function(res) {
					if (res.result) {
						dt = new Date(res.data);
					}
				}
			});
			t = setTimeout(time,1000);//開始运行
			function time()
			{
				clearTimeout(t);//清除定时器
				// dt = new Date();
				dt = new Date(dt.getTime() +1000); //每次循环+1s
				var y=dt.getFullYear();
				var mt=dt.getMonth()+1;
				var day=dt.getDate();
				var h=dt.getHours();//获取时
				var m=dt.getMinutes();//获取分
				var s=dt.getSeconds();//获取秒
				document.getElementById("showTime").innerHTML = y+"年"+mt+"月"+day+"日  "+h+"时"+m+"分"+s+"秒";
				t = setTimeout(time,1000); //设定定时器，循环运行
			}

</script>
	</div>
	<div class="mainbox" >
		<div class="boxall" style="height:70%">
			<div class="tablebox">
				<div class="tbl-header">
					<table>
						<thead>
							<tr id="result_list1">
								<th>组长</th>
								<th>应到人数</th>
								<th>制令单</th>
								<th>目标产量</th>
								<th>完工产量</th>
								<th>员工</th>							
							</tr>
							<tr id="type1">
								<th>负责人</th>
								<th>员工数</th>					
							</tr>
							<tr id="type2">
								<th>组长</th>
								<th>在线人数</th>
								<th>应到人数</th>	
								<th>计划产量</th>
								<th>达成产量</th>
								<th>达成率</th>				
							</tr>
						</thead>
						<tbody style="opacity: 0;" id="tableList1"></tbody>
					</table>
				</div>

				<div class="tbl-body">
					<table>
						<thead>
							<tr id="result_list">
								<th>组长</th>
								<th>应到人数</th>
								<th>制令单</th>
								<th>目标产量</th>
								<th>完工产量</th>
								<th>员工</th>	
							</tr>
							<tr id="type1_1">
								<th>负责人</th>
								<th>员工数</th>					
							</tr>
							<tr id="type2_1">
								<th>组长</th>
								<th>在线人数</th>
								<th>应到人数</th>	
								<th>计划产量</th>
								<th>达成产量</th>
								<th>达成率</th>					
							</tr>
						</thead>
						<tbody id="tableList">

						</tbody>
					</table>
				</div>
			</div>

			<div class="boxfoot"></div>
		</div>
		<script th:inline="javascript">
        var kanbanDataList=[[${kanbanDataList}]];
        var liner=[[${liner}]];
        var fieldword=[[${fieldword}]];
        var context = [[@{/}]];
        if(fieldword=="PO_RESULT"){//表格点击
        	$("#title").text(liner+"•效率看板");
        	$("#result_list1").show();
        	$("#result_list").show();
        	$("#type1").hide();
        	$("#type1_1").hide();
        	$("#type2").hide();
        	$("#type2_1").hide();
        
        }else if(fieldword=="PO_LINE_NUM_PLN"||fieldword=="PO_EMP_NUM_PLN"){//总线体数、应到人数
        	$("#title").text("数据看板");
        	$("#result_list1").hide();
        	$("#result_list").hide();
        	$("#type1").show();
        	$("#type1_1").show();
        	$("#type2").hide();
        	$("#type2_1").hide();
        	
        }else if(fieldword=="PO_LINE_NUM_NOW"||fieldword=="PO_EMP_NUM_NOW"
        		||fieldword=="PO_PRD_NUM_PLN"||fieldword=="PO_PRD_NUM_DONE"){//开线数，在线人数，计划产量，完工产量
        	$("#title").text(liner+"•数据看板");
        	$("#result_list1").hide();
        	$("#result_list").hide();
        	$("#type1").hide();
        	$("#type1_1").hide();
        	$("#type2").show();
        	$("#type2_1").show();	
        }
    </script>
		<script src="/kanban/scripts/scdz_detail.js"
			th:src="@{/kanban/scripts/scdz_detail.js}"></script>
	</div>
</body>
</html>
