<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>制程不良看板</title>
<script type="text/javascript" src="../kanban/js/jquery.js"></script>
<link rel="stylesheet" href="../kanban/css/comon0.css">
<link rel="stylesheet" href="../layui/css/layui.css"
	th:href="@{/layui/css/layui.css}"></link>
<script src="../layui/layui.js" th:src="@{/layui/layui.js}"></script>
<meta http-equiv="refresh" content="60">
</head>
<style>
th, td {
	text-align: center;
	vertical-align: middle;
	padding: 4px;
	color: #FFFFFF;
}

table, table tr td {
	border: 2px solid #333399;
	border-collapse: collapse;
}

th {
	font-size: 18px;
	border: 2px solid #333399;
	border-collapse: collapse;
}

td {
	font-size: 20px;
}

.line {
	position: absolute;
	left: .3rem;
	top: 0;
	line-height: .75rem;
}
</style>
<script>
	$(window).load(function(){  
             $(".loading").fadeOut()
            })  
			
/****/
$(document).ready(function(){
	var whei=$(window).width()
	$("html").css({fontSize:whei/20})
	$(window).resize(function(){
		var whei=$(window).width()
	 $("html").css({fontSize:whei/20})
});
	});
	</script>
<script type="text/javascript" src="../kanban/js/echarts.min.js"></script>
<!--  <script language="JavaScript" src="../kanban/js/js.js"></script>-->
<body>
	<!-- <div class="canvas" style="opacity: .2">
		<iframe frameborder="0" src="../kanban/js/index.html"
			style="width: 100%; height: 100%"></iframe>
	</div> -->
	<header class="header left">
		<div class="total_chose_box">
			<div style="height: 5px;"></div>
			<span class="chose_tltle">请选择班次：</span> <select class="year_chose"
				id="class_select">
				<option value="999">当日看板</option>
				<option value="998">24小时看板</option>
				<option value="1">白班</option>
				<option value="2">晚班</option>
			</select> <span class="chose_tltle">请输入部门：</span> <select class="year_chose"
				id="dep_select">

			</select> <span class="chose_tltle">请选择日期：</span> <input type="text"
				name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd"
				autocomplete="off" class="chose_text_in ">
			<!-- <input class="chose_text_in"> -->
			<button class="chose_enter" id="searchBtn">确定</button>
		</div>
	</header>
	<div class="head">
		<div class="line">
			<span style="color: #FFFFFF; font-size: 16px;" id="showLine"></span>
		</div>
		<h1>制程不良看板</h1>
		<div class="weather">
			<span id="showTime"></span>
		</div>

		<script>
var t = null;
    t = setTimeout(time,1000);//開始运行
    function time()
    {
       clearTimeout(t);//清除定时器
       dt = new Date();
		var y=dt.getFullYear();
		var mt=dt.getMonth()+1;
		var day=dt.getDate();
       var h=dt.getHours();//获取时
       var m=dt.getMinutes();//获取分
       var s=dt.getSeconds();//获取秒
       document.getElementById("showTime").innerHTML = y+"年"+mt+"月"+day+"日  "+h+"时"+m+"分"+s+"秒";
       t = setTimeout(time,1000); //设定定时器，循环运行     
    } 

</script>
	</div>
	<div class="mainbox">
		<div class="boxall">
			<div class="data_table">
				<table id="table" class="table table-bordered"
					style="width: 99%; margin-top: 10px;">
					<thead>
						<tr class="blue_bg">
						<tr class="firstHead">
							<th colspan="1" rowspan="2">时间段</th>
							<th colspan="4">FQC</th>
							<th colspan="4">SQC</th>
							<th colspan="4">客检1</th>
							<th colspan="4">客检2</th>
						</tr>
						<tr class="twoHead">
							<th>送检数</th>
							<th>合格数</th>
							<th>不合格数</th>
							<th>合格率</th>
							<th>送检数</th>
							<th>合格数</th>
							<th>不合格数</th>
							<th>合格率</th>
							<th>送检数</th>
							<th>合格数</th>
							<th>不合格数</th>
							<th>合格率</th>
							<th>送检数</th>
							<th>合格数</th>
							<th>不合格数</th>
							<th>合格率</th>
						</tr>
					</thead>
					<tbody id="tableList">

					</tbody>
				</table>
			</div>
			<div class="boxfoot"></div>
		</div>
		<script th:inline="javascript">
        var kanbanDataList=[[${kanbanDataList}]];
    </script>
		<script th:inline="javascript">
    var context = [[@{/}]];
    	layui.use([ 'laydate'], function(){
    		  var layer = layui.layer
    		  ,laydate = layui.laydate;
    		  
    		  //日期
    		  laydate.render({
    		    elem: '#date'
    		  });
    	});
    </script>
		<script src="/kanban/scripts/zcbl.js"
			th:src="@{/kanban/scripts/zcbl.js}"></script>
	</div>
</body>
</html>
