<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--  <head>
  <meta charset="utf-8">
  <title>layuiAdmin 控制台主页一</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" th:href="@{/layuiadmin/style/admin.css}" media="all">
</head> -->
<head th:include="layout :: htmlhead" th:with="title='东莞华誉组装MES系统'">
</head>

<body style="background-color:#f2f2f2" >
<div class="layui-col-md12">
            <div class="layui-card">
              <div class="layui-card-header" style="text-align:center;"><h1>东莞华誉组装MES系统</h1></div>
              <div class="layui-card-body" style="text-align: center;margin: 0 auto; ">
                  <img src="/images/huayu_bg.jpg" th:src="@{/images/huayu_bg.jpg}" style="margin: 0 auto;height:100%;width:100%;"/>
              </div>
            </div>
          </div>


<!--   <script src="../../layuiadmin/layui/layui.js?t=1"></script>  
  <script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'console']);
  </script> -->
</body>
</html>