<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--  <head>
  <meta charset="utf-8">
  <title>layuiAdmin 控制台主页一</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" th:href="@{/layuiadmin/style/admin.css}" media="all">
</head> -->
<head th:include="layout :: htmlhead" th:with="title='东莞华誉组装MES系统'">
</head>

<body style="background-color:#f2f2f2" >
  
  
  
<div class="layui-col-md12 " id="main-div" style="display:none">
            <div class="layui-card">
              <div class="layui-card-header" style="text-align:center;"><h1>东莞华誉组装MES系统</h1></div>
              <div class="layui-card-body" style="text-align: center;margin: 0 auto; ">
                  <img src="/images/huayu_bg.jpg" th:src="@{/images/huayu_bg.jpg}" style="margin: 0 auto;height:100%;width:100%;"/>
              </div>
            </div>
          </div>
          <div class="layui-col-md12 " id="daiban-div" style="display:none;">
              <div class="layui-card">
	              <div class="layui-card-body" style="height:70px;">
	                <div class="layui-carousel layadmin-carousel layadmin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 280px;">
	                  <div carousel-item="">
	                    <ul class="layui-row layui-col-space10 layui-this">
	                      <li class="layui-col-xs6">
	                      <a lay-href="app/forum/list.html" class="layadmin-backlog-body" style="height:62px;">
	                          <img src="/img/touxiang.png" th:src="@{/images/touxiang.png}" class="layui-nav-img">
	                                                          你好,<shiro:principal property="userName"></shiro:principal>
	                        </a>
	                        
	                      </li>
	                      <li class="layui-col-xs2">
	                        <a lay-href="app/forum/list.html" class="layadmin-backlog-body">
	                          <h3>待办任务</h3>
	                          <p><cite id="totalNum">12</cite></p>
	                        </a>
	                      </li>
	                      <li class="layui-col-xs2">
	                        <a lay-href="template/goodslist.html" class="layadmin-backlog-body">
	                          <h3>已完成</h3>
	                          <p><cite id="completedNum">99</cite></p>
	                        </a>
	                      </li>
	                      <li class="layui-col-xs2">
	                        <a href="javascript:;" onclick="layer.tips('不跳转', this, {tips: 3});" class="layadmin-backlog-body">
	                          <h3>未完成</h3>
	                          <p><cite id="inCompleteNum">20</cite></p>
	                        </a>
	                      </li>
	                    </ul>

	                  </div>
	              </div>
	            </div>
	          </div>
	          
	          <div class="layui-row layui-col-space10">
		          <div class="layui-row layui-col-space10">
		             <div class="layui-card layui-col-xs8" id="un_div">
		              <div class="layui-card-header">待办事项</div>
		              <div class="layui-card-body" style="margin: 0 auto; ">
		                  <table id="listTable" lay-filter="listTable"></table>
		              </div>
	                 </div>
	                 
	                 <div class="layui-card layui-col-xs4">
		              <div class="layui-card-header" id="title1">待审批</div>
		              <div class="layui-card-body" style="margin: 0 auto; ">
		                  <dl class="layuiadmin-card-status" id="check-list">
				              <dd>
				                <div class="layui-status-img"><a href="javascript:;"></a></div>
				                <div>
				                  <p>胡歌 在 <a lay-href="http://fly.layui.com/vipclub/list/layuiadmin/">layuiadmin专区</a> 回答问题</p>
				                </div>
				              </dd>
                           </dl>
		              </div>
	                 </div>
		          </div>
	          </div>
	         <div id="username" style="display:none;"><shiro:principal property="userName"></shiro:principal></div>
          </div>
         <script type="text/html" id="optBar">
             <a class="layui-btn layui-btn-xs" lay-event="edit"  onclick="set_show('{{d.bsModel}}','{{d.bsRouter}}',this)">点击处理</a>
             <a class="layui-btn layui-btn-xs layui-btn-danger" onclick="del('{{d.id}}')">关闭待办</a>
         </script>
<!--   <script src="../../layuiadmin/layui/layui.js?t=1"></script>  
  <script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'console']);
  </script> -->
  <script th:inline="javascript">
  var pageCurr;var tableIns;
  var username = $('#username').text();
  $(function() {
		layui.use([ 'table', 'form', 'layedit', 'laydate', 'layer' ],
			function() {
				var form = layui.form, layer = layui.layer, laydate = layui.laydate, table = layui.table;
				tableIns = table.render({
					elem : '#listTable',
					url:context + '/todoInfo/getlist',
					where:{'bsStatus':0},
					method : 'get' // 默认：get请求
					,cellMinWidth : 50,
					height:'full-180'//固定表头&full-查询框高度
						,even:true,//条纹样式
					//data : [],
					limit:8,
					limits: [8,10,15,20,30,40,50],
					request : {
						pageName : 'page' // 页码的参数名称，默认：page
						,
						limitName : 'rows' // 每页数据量的参数名，默认：limit
					},
					page : true,
					parseData : function(res) {

						if(res.data.totalNum>0){
							$("#main-div").hide();//隐藏div
							$("#daiban-div").show();//显示div
						}else{
							$("#daiban-div").hide();//隐藏div
							$("#main-div").show();//显示div
						}
						
						//审批列表
						var check_html = "";
						var dd = res.data.Check;
						for (var j = 0; j < dd.length; j++) {
							var url = "";
							if(dd[j].bsRouter == "QUOTE_NEW"){
								url = context+"/quote/toQuoteList?quoteId="+dd[j].bsReferId;
							}
							check_html += '<dd><div class="layui-status-img"><a href="javascript:;"></a></div><div> <a  lay-href="'+url+'">'+dd[j].bsTitle+'</a>  </div></dd>'
						}
						$("#check-list").html(check_html);
						//封装数量
						$('#completedNum').html(res.data.completedNum);
						$('#inCompleteNum').html(res.data.inCompleteNum);
						$('#totalNum').html(res.data.totalNum);
						
						
						if(username == 'john'){
							$("#main-div").hide();//隐藏div
							$("#daiban-div").show();//显示div
							
							$("#un_div").hide();//隐藏div
							
							$('#completedNum').html("0");
							$('#inCompleteNum').html("5");
							$('#totalNum').html("5");
							
							$('#title1').text('未读消息');
							$("#check-list").html('<dd><div class="layui-status-img"><a href="javascript:;"></a></div><div> <a  lay-href="/gantt/toUnGantt">[任务]Task #5未开始</a>  </div></dd>');
						}
						
						
						if(!res.result){
							return {
								"count" : 0,"msg" : res.msg,"data" : [],"code" : res.status
							} 
						}
						// 可进行数据操作
						return {"count" : res.data.list.total,"msg" : res.msg,
							"data" : res.data.list.rows,"code" : res.status
						}
					},
					cols:[[ 
					    {type : 'numbers'},
					    {field : 'bsTitle',title : '待办标题',sort: true},
					    {field : 'bsContent',title : '待办内容',sort: true},
					    {field : 'createDate',title : '创建时间',sort: true},
					    {title : '操作',width:160,toolbar : '#optBar'} 
					   ] ],
					done : function(res, curr, count) {
						pageCurr = curr;
					}
				});	
				// 监听工具条
				/* table.on('tool(listTable)', function(obj) {
					var data = obj.data;
					if (obj.event === 'del') {
						
					} else if (obj.event === 'edit') {
						
					}
				}); */
			});
		/* CoreUtil.sendAjax("/todoInfo/getlist", {'bsStatus':0},
				function(data) {
					console.log(data)
					tableIns.reload({
						url:context + '/todoInfo/getlist',
						where:{'bsStatus':0},
						done: function(res1, curr, count){
							console.log(res1)
							pageCurr=curr;
						}
 						});
				}, "GET", false, function(res) {
					layer.alert(res.msg);
				}); */
		
	});
  function set_show(title,url,t){
	  parent.layui.index.openTabsPage(context+url,title);
	}
  function del(id){
	  CoreUtil.sendAjax("/todoInfo/close", {'Id':id,'bsUserId':'','roleId':'','bsReferId':''},
				function(res) {
				  layer.msg(res.msg, {
		              time: 20000, //20s后自动关闭
		              btn: ['知道了']
		            });
				  tableIns.reload({
						url:context + '/todoInfo/getlist',
						where:{'bsStatus':0},
						done: function(res1, curr, count){
							pageCurr=curr;
						}
						}); 
				}, "GET", false, function(res) {
					layer.alert(res.msg);
				}); 
  } 
  </script>
</body>
</html>