<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--  <head>
  <meta charset="utf-8">
  <title>layuiAdmin 控制台主页一</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" th:href="@{/layuiadmin/style/admin.css}" media="all">
</head> -->
<head th:include="layout :: htmlhead" th:with="title='东莞华誉组装MES系统'">
</head>
<style th:inline="text">
    .bg-jb{
        background: -moz-linear-gradient(top, #BACEE3 0%, #E5F3F3 100%) ;
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#BACEE3 ), color-stop(100%,#E5F3F3))  ;
	    background: -webkit-linear-gradient(top, #BACEE3  0%,#E5F3F3 100%) ;
	    background: -o-linear-gradient(top, #BACEE3  0%,#E5F3F3 100%) ;
	    background: -ms-linear-gradient(top, #BACEE3  0%,#E5F3F3 100%) ;
    }
</style>
<body style="" >
<div class="layui-collapse">
  <div class="layui-colla-item">
    <h2 class="layui-colla-title bg-jb">生产进入</h2>
    <div class="layui-colla-content layui-show" style="height:120px;">
    <div class="layui-carousel layadmin-carousel layadmin-shortcut" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 120px;">
                  <div carousel-item="">
                    <ul class="layui-row layui-col-space10 layui-this">
                      <li class="layui-col-xs1">
                        <a lay-href="home/homepage1.html">
                          <i class="layui-icon layui-icon-console"></i>
                          <cite>主页一</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs1">
                        <a lay-href="home/homepage2.html">
                          <i class="layui-icon layui-icon-chart"></i>
                          <cite>主页二</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs1">
                        <a lay-href="component/layer/list.html">
                          <i class="layui-icon layui-icon-template-1"></i>
                          <cite>弹层</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs1">
                        <a layadmin-event="im">
                          <i class="layui-icon layui-icon-chat"></i>
                          <cite>聊天</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs1">
                        <a lay-href="component/progress/index.html">
                          <i class="layui-icon layui-icon-find-fill"></i>
                          <cite>进度条</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs1">
                        <a lay-href="app/workorder/list.html">
                          <i class="layui-icon layui-icon-survey"></i>
                          <cite>工单</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs1">
                        <a lay-href="user/user/list.html">
                          <i class="layui-icon layui-icon-user"></i>
                          <cite>用户</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs1">
                        <a lay-href="set/system/website.html">
                          <i class="layui-icon layui-icon-set"></i>
                          <cite>设置</cite>
                        </a>
                      </li>
                    </ul>
                    
                  </div>

    </div>
  </div>
</div>
<div class="layui-collapse">
  <div class="layui-colla-item">
    <h2 class="layui-colla-title bg-jb">生产报表</h2>
    <div class="layui-colla-content layui-show">内容区域</div>
  </div>
</div>
<!--   <script src="../../layuiadmin/layui/layui.js?t=1"></script>  
  <script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'console']);
  </script> -->
</body>
</html>